@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.btn {
  @include button-style($primary-color);
  font-family: inherit;

  &-primary {
    /* Base style is already primary */
    background-color: $primary-color;
    color: $white;
  }

  &-secondary {
    background-color: $secondary-color;
  }

  &-danger {
    background-color: $error-color;
  }

  &-success {
    background-color: $success-color;
  }

  &-outline {
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
    box-shadow: none;

    &:hover {
      background-color: rgba($primary-color, 0.1);
      transform: none;
    }
  }

  &.loading {
    opacity: 0.7;
    cursor: wait;
    padding-right: 40px;
  }
}

.spinner {
  width: 14px;
  height: 14px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-left-color: #fff;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
